{% extends "base.html" %} 
{% block title %}Home Page{% endblock title %} 
{%block content %}
<div class='flex flex-col p-4'>
    <h1 class='text-3xl mb-4'>Todo List</h1>
    <ul class='flex flex-col border border-solid border-gray-200 p-2 rounded-md'>
        {% for todo in todos %}
        <li class='flex flex-col'>
            <span class='capitalize font-semibold'>
                {{todo.title}} :
            </span>
            {% if todo.completed %}
                <span class='text-green-500'>
                        Completed
                </span>
            {% else %}
                <span  class='text-red-500'>
                        Not Completed
                </span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
<script type="text/javascript">
    
</script>
{% endblock content %}
